:root {
  --bs-primary: #46e578;
  --bs-primary-rgb: 79, 70, 229;

  --bs-secondary: #64748b;
  --bs-secondary-rgb: 100, 116, 139;

  --bs-success: #16a34a;
  --bs-success-rgb: 22, 163, 74;
  
  --bs-danger: #dc2626;
  --bs-danger-rgb: 220, 38, 38;
}
