ErrorDocument 404 /auth/signin.php
ErrorDocument 403 /auth/signin.php

<Files ~ "^(composer)">
deny from all
</Files>
<Files ~ "(phinx.php)">
deny from all
</Files>
<Files ~ "(.dockerfile)">
deny from all
</Files>
